<mat-tab-group>
    <mat-tab label="Create Room"><form>
      <br>
      <br>
      <h3>Create Room</h3>
      <br>
      <input type="text" placeholder="Category" id="category" name="category" [(ngModel)]="data.category" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="Floor" id="floor" name="floor" [(ngModel)]="data.floor" [ngModelOptions]="{ standalone: true }"><br><br>
      <br>
      <input (click)="createRoom()" type="submit" value="Create">
    </form></mat-tab>
    <mat-tab label="Update Room">
      <br>
      <br>
      <h3>Update Room</h3>
      <br>
      <form>
        <input type="text" placeholder="ID" id="id" name="id" [(ngModel)]="data.id" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Category" id="category" name="category" [(ngModel)]="data.category" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Floor" id="floor" name="floor" [(ngModel)]="data.floor" [ngModelOptions]="{ standalone: true }"><br><br>   
          <br>
          <input (click)="updateRoom()" type="submit" value="Update">
      </form> </mat-tab>
  