<mat-tab-group>
  <mat-tab label="Create Robot"><form>
    <br>
    <br>
    <h3>Create Robot</h3>
    <br>
    <input type="text" placeholder="Type" id="type" name="type" [(ngModel)]="data.type" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Designation" id="designation" name="designation" [(ngModel)]="data.designation" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="SerialNumber" id="serialNumber" name="serialNumber" [(ngModel)]="data.serialNumber" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Available" id="available" name="available" [(ngModel)]="data.available" [ngModelOptions]="{ standalone: true }"><br>
        
    <br>
    <input (click)="createRobot()" type="submit" value="Create">
  </form></mat-tab>
  <mat-tab label="Update Robot">
    <br>
    <br>
    <h3>Update Robot</h3>
    <br>
    <form>
        <input type="text" placeholder="Robot Id" id="id" name="id" [(ngModel)]="data.id" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Type" id="type" name="type" [(ngModel)]="data.type" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Designation" id="designation" name="designation" [(ngModel)]="data.designation" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="SerialNumber" id="serialNumber" name="serialNumber" [(ngModel)]="data.serialNumber" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Available" id="available" name="available" [(ngModel)]="data.available" [ngModelOptions]="{ standalone: true }"><br>
        
        <br>
        <input (click)="updateRobot()" type="submit" value="Update">
    </form> </mat-tab>
  <mat-tab label="See all Robots"> 
    <br> 
    <br>
    <br>
    <form>
     
        <br>
       
        <table mat-table [dataSource]="ListRobots" class="mat-elevation-z8" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Robot Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef> SerialNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
        
          <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef> Available </th>
            <td mat-cell *matCellDef="let element"> {{element.available}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
    </mat-tab>
</mat-tab-group>