<mat-tab-group #tabGroup>
  <mat-tab label="Create Robot"><form>
    <br>
    <br>
    <h3>Create Robot</h3>
    <br>
    <input type="text" placeholder="Type" id="type" name="type" [(ngModel)]="data.type" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Designation" id="designation" name="designation" [(ngModel)]="data.designation" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="SerialNumber" id="serialNumber" name="serialNumber" [(ngModel)]="data.serialNumber" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Available" id="available" name="available" [(ngModel)]="data.available" [ngModelOptions]="{ standalone: true }"><br>
        
    <br>
    <input (click)="createRobot()" type="submit" value="Create">
  </form></mat-tab>
  <mat-tab label="Update Robot">
    <br>
    <br>
    <h3>Update Robot</h3>
    <br>
    <form>
        <input type="text" placeholder="Type" id="type" name="type" [(ngModel)]="clickedRow.type" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Designation" id="designation" name="designation" [(ngModel)]="clickedRow.designation" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="SerialNumber" id="serialNumber" name="serialNumber" [(ngModel)]="clickedRow.serialNumber" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="clickedRow.description" [ngModelOptions]="{ standalone: true }"><br><br>
        <input type="text" placeholder="Available" id="available" name="available" [(ngModel)]="clickedRow.available" [ngModelOptions]="{ standalone: true }"><br>
        
        <br>
        <input (click)="updateRobot()" type="submit" value="Update">
    </form> </mat-tab>
  <mat-tab label="See all Robots"> 
    <br> 
    <br>
    <br>
    <form>
     
        <br>
        <button  (click)="get()" mat-button><i class="fa-solid fa-rotate"></i></button>

        <table mat-table [dataSource]="ListRobots" class="mat-elevation-z8" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
        
        
          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Robot Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="serialNumber">
            <th mat-header-cell *matHeaderCellDef> SerialNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
        
          <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef> Available </th>
            <td mat-cell *matCellDef="let element"> {{element.available}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="clickedRow=row" (click)="openUpdateTab(row,tabGroup)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>
    </mat-tab>
    <mat-tab label="Inhibit Robot">
      <br>
      <br>
      <h3>Inhibit Robot</h3>
      <br>
      <form>
        <mat-form-field>
        <mat-label>Select a Robot</mat-label>
        <mat-select [formControl]="robotControl" name="robot" (selectionChange)="onRobotSelectionChange()">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let robot of ListRobots" [value]="robot.serialNumber">{{ robot.serialNumber }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
          <input type="text" placeholder="Available" id="available" name="available" [(ngModel)]="data.available" [ngModelOptions]="{ standalone: true }"><br>
          <br>
          <input (click)="inhibitRobot()" type="submit" value="Update">
      </form> </mat-tab>



<mat-tab label="Get robot by designation">
  <br> 
  <br>
  <h3>Get robot by designation</h3>
  <br>
  <form>
    <input type="text" placeholder="Robot Designation" id="designation" name="designation" [(ngModel)]="designation" [ngModelOptions]="{ standalone: true }"><br><br>
      <br>
      <input (click)="findByDesignation()" type="submit" value="Get">
    <table mat-table [dataSource]="ListRobotsDesignation" class="mat-elevation-z8">
   
    
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Robot Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef> SerialNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> Available </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</mat-tab>




<mat-tab label="Get robot by type">
  <br> 
  <br>
  <h3>Get robot by type</h3>
  <br>
  <form>
    <input type="text" placeholder="RobotType" id="type" name="type" [(ngModel)]="type" [ngModelOptions]="{ standalone: true }"><br><br>
      <br>
      <input (click)="findByTask()" type="submit" value="Get">
    <table mat-table [dataSource]="ListRobotsType" class="mat-elevation-z8">
     
    
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Robot Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef> SerialNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> Available </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</mat-tab>
<mat-tab label="Best Path"><form>
  <br>
  <br>
  <input type="text" placeholder="Floor1" id="Floor1" name="Floor1" [(ngModel)]="piso1" [ngModelOptions]="{ standalone: true }"><br><br>
  <input type="text" placeholder="Floor2" id="Floor2" name="Floor2" [(ngModel)]="piso2" [ngModelOptions]="{ standalone: true }"><br><br>
  <button (click)="getPath()" mat-button>Get Path</button>
</form> </mat-tab>
</mat-tab-group>