<mat-tab-group>
  <mat-tab label="Create Floor">
    <form>
      <br>
      <br>
      <h3>Create Floor</h3>
      <br>
      <input type="text" placeholder="Name" id="name" name="name" [(ngModel)]="data.name" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="BuildingName" id="buildingName" name="buildingName" [(ngModel)]="data.buildingName" [ngModelOptions]="{ standalone: true }"><br><br>
      <br>
      <input (click)="createFloor()" type="submit" value="Create">
    </form>
  </mat-tab>

  <mat-tab label="Update Floor">
    <form>
      <br>
      <br>
      <h3>Update Floor</h3>
      <br>
      <input type="text" placeholder="Floor Id" id="id" name="id" [(ngModel)]="data.id" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="Name" id="name" name="name" [(ngModel)]="data.name" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="Description" id="description" name="description" [(ngModel)]="data.description" [ngModelOptions]="{ standalone: true }"><br><br>
      <input type="text" placeholder="BuildingName" id="buildingName" name="buildingName" [(ngModel)]="data.buildingName" [ngModelOptions]="{ standalone: true }"><br><br>
      <br>
      <input (click)="updateFloor()" type="submit" value="Update">
    </form>
  </mat-tab>

  <mat-tab label="See all Floors">
    <form>
      <br>
      <button (click)="get()" mat-button><i class="fa-solid fa-rotate"></i></button>

      <table mat-table [dataSource]="ListFloors" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Floor Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- BuildingName Column -->
        <ng-container matColumnDef="buildingName">
          <th mat-header-cell *matHeaderCellDef> Building name </th>
          <td mat-cell *matCellDef="let element"> {{element.buildingName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </mat-tab>

  <mat-tab label="Get all floors from a building">
    <br> 
    <br>
    <h3>Get all floors from a building</h3>
    <br>
    <form>
      <input type="text" placeholder="Building" id="buildingName" name="buildingName" [(ngModel)]="building" [ngModelOptions]="{ standalone: true }"><br><br>
        <br>
        <input (click)="findFloorsByBuildingName()" type="submit" value="Get">
      <table mat-table [dataSource]="ListFloorsBuilding" class="mat-elevation-z8">
       <!-- Position Column -->
       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Floor Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- BuildingName Column -->
      <ng-container matColumnDef="buildingName">
        <th mat-header-cell *matHeaderCellDef> Building name </th>
        <td mat-cell *matCellDef="let element"> {{element.buildingName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </mat-tab>

  <mat-tab label="Get all floors with passages to other buildings">
    <form>
      <br>
      <button (click)="findFloorsWithPassages()" mat-button><i class="fa-solid fa-rotate"></i></button>

      <table mat-table [dataSource]="ListFloorsPassages" class="mat-elevation-z8">
       <!-- Position Column -->
       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Floor Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- BuildingName Column -->
      <ng-container matColumnDef="buildingName">
        <th mat-header-cell *matHeaderCellDef> Building name </th>
        <td mat-cell *matCellDef="let element"> {{element.buildingName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </mat-tab>
  <mat-tab label="Load Map">
    <mat-stepper orientation="vertical" #stepper>
      <mat-step [stepControl]="floorGroup">
        <form [formGroup]="floorGroup">
          <ng-template matStepLabel>Floor Details</ng-template>
          <br>
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput placeholder="Floor Id" formControlName="floorId" required>
            <br>
          </mat-form-field>
          <br>
            <button mat-button matStepperNext>Next</button>
        </form>
        <div>
          <label>Number of Rows: </label>
          <input type="number" [(ngModel)]="numRows" (change)="initializeMatrix()">
        </div>
        <div>
          <label>Number of Columns: </label>
          <input type="number" [(ngModel)]="numCols" (change)="initializeMatrix()">
        </div>
        <table>
          <tr *ngFor="let row of matrix; let i = index">
            <td *ngFor="let col of row; let j = index">
              <input type="number" [(ngModel)]="matrix[i][j]" (input)="addOrUpdateValue(i, j, matrix[i][j])">
            </td>
          </tr>
        </table>
      </mat-step>
      <mat-step [stepControl]="passageGroup">
          <form [formGroup]="passageGroup">
            <ng-template matStepLabel>Passages Details</ng-template>
            <br>
            <mat-form-field>
              <mat-label>Passage Id</mat-label>
              <input matInput formControlName="passageId" placeholder="Passage Id" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Passage X Position Building1 </mat-label>
              <input matInput formControlName="positionX1" placeholder="X Position Building1" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Passage Y Position Building1 </mat-label>
              <input matInput formControlName="positionY1" placeholder="Y Position Building1" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Passage X Position Building2 </mat-label>
              <input matInput formControlName="positionX2" placeholder="X Position Building2" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Passage Y Position Building2 </mat-label>
              <input matInput formControlName="positionY2" placeholder="Y Position Building2" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
              <button mat-button (click)="passage()">Add</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="elevatorGroup">
          <form [formGroup]="elevatorGroup">
            <ng-template matStepLabel>Elevator Details</ng-template>
            <br>
            <mat-form-field>
              <mat-label>Elevator Id</mat-label>
              <input matInput formControlName="elevatorId" placeholder="Elevator Id" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Elevator X Position </mat-label>
              <input matInput formControlName="positionX" placeholder="X Position Elevator" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Elevator Y Position  </mat-label>
              <input matInput formControlName="positionY" placeholder="Y Position Elevator" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="roomGroup">
          <form [formGroup]="roomGroup">
            <ng-template matStepLabel>Room Details</ng-template>
            <br>
            <mat-form-field>
              <mat-label>Room Id</mat-label>
              <input matInput formControlName="roomId" placeholder="Room Id" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Room X Position </mat-label>
              <input matInput formControlName="positionX" placeholder="X Position Room" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Room Y Position </mat-label>
              <input matInput formControlName="positionY" placeholder="Y Position Room" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Room X Dist </mat-label>
              <input matInput formControlName="distX" placeholder="X Dist Room" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Room Y Dist </mat-label>
              <input matInput formControlName="distY" placeholder="Y Dist Room" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="room()">Add</button>
              <button mat-button (click)="submit()" matStepperNext>Submit</button>
            </div>
          </form>
        </mat-step>
    </mat-stepper>
  </mat-tab>
</mat-tab-group>
