
  <mat-toolbar color="primary" class="mat-elevation-z8">

    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>

    <a class="home-button" [routerLink]="['/']">
    <span>Stupid Simple Campus Simulator - SSCS</span>
    </a>
    <span class="example-spacer"></span>

    
   
  </mat-toolbar>

  <mat-drawer-container autosize >
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="/" mat-button><mat-icon>home</mat-icon> home</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/Buildings" mat-button><i class="fa-solid fa-building"></i> Buildings</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/Floors" mat-button><i class="fa-solid fa-kaaba"></i> Floors</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink= "" mat-button><i class="fa-solid fa-door-closed"></i> Rooms</button>
      </mat-list-item>
        <mat-list-item>
            <button routerLink="/Elevators" mat-button><i class="fa-solid fa-elevator"></i> Elevators</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/Passages" mat-button><i class="fa-solid fa-bridge"></i> Passages</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/Robots" mat-button><i class="fa-solid fa-robot"></i> Robots</button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="/RobotType" mat-button><i class="fa-solid fa-bolt"></i> RobotType</button>
  </mat-list-item>
 
  <br><br><br><br><br>
    <mat-list-item>
      <button routerLink="/signup" mat-raised-button color="accent">Sign-Up</button>
  </mat-list-item>
    
       
    </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>

</mat-drawer-container>

